.d-fx {
    display: flex;
}

// Flex-wrap.

.fx-wrap {
    flex-wrap: wrap !important;
}

.fx-nowrap {
    flex-wrap: nowrap !important;
}

.fx-row-wrap {
    flex-flow: row wrap !important;
}


// Align-items.

.fx-items-center {
    align-items: center !important;
}

// Justify-content.

.j-center {
    justify-content: center !important;
}

.j-start {
    justify-content: flex-start !important;
}

.j-end {
    justify-content: flex-end !important;
}

.j-btw {
    justify-content: space-between !important;
}

.j-around {
    justify-content: space-around !important;
}

// Flex-row.

.fx-row-reverse {
    flex-direction: row-reverse;
}

// Flex-column.

.fx-column {
    flex-direction: column !important;
}

.fx-column-reverse {
    flex-direction: column-reverse !important;
}

// Flex-column breakpoint.

@include breakpoint-max(tab) {
    .tab-fx-column {
        flex-direction: column !important;
    }
}

@include breakpoint-max(pha) {
    .pha-fx-column {
        flex-direction: column !important;
    }
}

@include breakpoint-max(pho) {
    .pho-fx-column {
        flex-direction: column !important;
    }
}
