@import "../utilities/rfs";


$value: $first-value;

// Paddings in breakpoint.

@for $i from 0 through 5 {

    .p-#{$i}{
        padding: $i * $value !important;
    }
    
    .px-#{$i},
    .pl-#{$i}{
        padding-left: $i * $value !important;
    }
    
    .px-#{$i},
    .pr-#{$i}{
        padding-right: $i * $value !important;
    }
    

    .py-#{$i},
    .pt-#{$i}{
        padding-top: $i * $value !important;
    }
    
    .py-#{$i},
    .pb-#{$i}{
        padding-bottom: $i * $value !important;
    }
} 

// Specials paddings.

.py-sm {
    @include padding-top(50px);
    @include padding-bottom(50px);
}

.py-md {
    @include padding-top(100px);
    @include padding-bottom(100px);
}

.py-lg {
    @include padding-top(200px);
    @include padding-bottom(200px);
}

.py-xl {
    @include padding-top(250px);
    @include padding-bottom(250px);
}
