// Breakpoints

$breakpoint: (
    pho-xs: 550px, //screen small mobile
    pho: 550px, // screen mobile 550px
    pha: 750px, //screen phablet 750px
    tab: 990px, //screen tablet 990px
    lap: 1200px, //screen laptop 1200px
    des: 1400px //screen desktop 1400px
);

// Breakpoint class name

$pho-xs: ".pho-xs";
$phone: ".pho-";
$phablet: ".pha-";
$tablet: ".tab-";
$laptop: ".lap-";
$desktop: ".des-";

// Full colors

$primary: #0152a3;
$positive: #1B7E55;
$negative: #a42834;
$muted: #e0e7eb;
$light: #eff3f5;
$dark: #37434d;
$white: #fff;
$black: #1a1a1a;

// Notice background colors

$info-notice: #e6f3ff;
$positive-notice: #d6f5d6;
$alert-notice: #ffebcc;
$negative-notice: #ffcccc;
$muted-notice: #f3f1f3;

//Notice text colors 

$color-info-notice: #1d5263;
$color-positive-notice: #196719;
$color-alert-notice: #804d00;
$color-negative-notice: #562929;
$color-muted-notice: #6B6B6B;


$full-colors: (
    "primary": $primary,
    "positive": $positive,
    "negative": $negative,
    "muted": $muted,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "black": $black
);

$notice-colors: (
    "info": $info-notice,
    "alert": $alert-notice,
    "positive": $positive-notice, 
    "negative": $negative-notice,
    "muted": $muted-notice
);

$buttons: (
    "primary": $primary,
    "positive": $positive,
    "negative": $negative,
    "black": $black
);

$text-colors: (
    "primary": $primary,
    "positive": $positive,
    "negative": $negative,
    "white": $white,
    "black": $black
);


// Values margins, paddings, navbar...

$first-value: 0.5rem;
$second-value: 1rem;
$third-value: 1.5rem;
$quarter-value: 2rem;
$fifth-value: 2.5rem;


// Fonts properties and tags/class

$letter-spacing-default: .1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.17rem;
$font-size-h4: 1rem;
$font-size-h5: .83rem;
$font-size-h6: .67rem;

$h-tag: "h1, h2, h3, h4, h5, h6";
$font-class: ".f1, .f2, .f3, .f4, .f5, .f6";
$h-class: ".h1, .h2, .h3, .h4, .h5, .h6";
$display-font: ".f6, .f7, .f8, .f9, .f10, .f11, .f12";

// Buttons type

$bttn-default: (
    ".bttn",
    ".bttn-md",
    ".bttn-sm",
    ".bttn-brd"
);

// Standard button

$bttn-Y-padding:  0.4375rem;
$bttn-X-padding: .9375rem;
$bttn-line-height: 1.5;
$bttn-Y-margin: .1875rem;
$bttn-X-margin: 0;

// Middle button

$bttn-md-Y-padding: 0.25rem;
$bttn-md-X-padding: $bttn-X-padding;

// Small button
$bttn-sm-Y-padding: 0.125rem;
$bttn-sm-X-padding: $bttn-X-padding;


// Form
$field-standard-height: 2.375rem;
$field-Y-padding: $bttn-Y-padding;
$field-X-padding: $bttn-X-padding;

$field-Y-margin: $bttn-Y-margin;
$field-X-margin: $bttn-X-margin;


// Form class

$form-label-class: ".label";
$form-field-class: ".field", "select";


// Orientation

$orientation:(
    "top",
    "bottom",
    "left",
    "right"
);
